doctype html
html
  head
    title E-Commerce
    link(rel='stylesheet' href='/css/style.css')
  body
    header
      h1 E-Commerce Platform
      nav
        ul
          li: a(href='/') Home
          li: a(href='/profile') Profile
          li: a(href='/auth/logout') Logout
    block content
