extends layouts/layout

block content
  h1 Your Cart
  if cart.length
    ul
      each item in cart
        li= `${item.product.name} - $${item.product.price} (Quantity: ${item.quantity})`
    h3 Total: $#{total}
    form(action='/checkout' method='POST')
      button(type='submit') Checkout
  else
    p Your cart is empty.
